<app-header title="Medications"></app-header>

<ion-content>
  <ion-card *ngIf="!(prescriptions$ | async)?.length">
    <ion-card-content>
      Doesn't look like you have any prescriptions. Do you need to <a routerLink="/add-prescription" routerDirection="forward">add one</a>?
    </ion-card-content>
  </ion-card>
  <ion-card *ngFor="let prescription of (prescriptions$ | async)" color="light">
    <ion-card-header>
      <ion-card-subtitle><span *ngIf="prescription.filledDate">Last Filled: {{ prescription.filledDate }}</span>Start Date: {{ prescription.startDateDisplay }}</ion-card-subtitle>
      <ion-card-title>{{ prescription.drug }}</ion-card-title>
    </ion-card-header>

    <ion-card-content class="prescription-content">
      <ion-item color="light">Dosage: {{ prescription.dosage }}</ion-item>
      <ion-item color="light">Interval: {{ prescription.intervalDisplay }}</ion-item>
      <ion-item color="light">{{ prescription.adherence }}%</ion-item>
      <ion-item color="light" lines="none">
        <ion-label> Have you taken this today?</ion-label>
        <ion-checkbox slot="start" color="success" [(ngModel)]="prescription.checked" (ionChange)="recordAdherence(prescription)"></ion-checkbox>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add" routerLink="/add-prescription" routerDirection="forward"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>