<ion-header>
  <ion-toolbar>
    <ion-title>
      pam
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="primary">
    <ion-card-header>
      <ion-card-subtitle>Date Filled</ion-card-subtitle>
      <ion-card-title>Medication Name</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <div>Instructions, take this onece a day for 3 months</div>
      <div>45%</div>
    </ion-card-content>
  </ion-card>
  <ion-button (click)="pushNotificationTest()">Push</ion-button>
</ion-content>
