<app-header></app-header>

<ion-content>
  <ion-card color="light">
    <ion-card-header>
      <ion-card-subtitle>Date Filled</ion-card-subtitle>
      <ion-card-title>Medication Name</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <div>Instructions, take this onece a day for 3 months</div>
      <div>45%</div>
    </ion-card-content>
  </ion-card>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add" routerLink="/add-prescription" routerDirection="forward"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
      <ion-fab-button color="secondary">
        <ion-icon name="ice-cream" (click)="pushNotificationTest()"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>
